<!DOCTYPE html>
<html>
<head>
    <title>no symlink</title>
</head>
<body>
    <h1>File Upload</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if links %}
        <h2>Uploaded Files:</h2>
        <ul>
            {% for link in links %}
                <li><a href="{{ link }}" download>{{ link }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Upload a File:</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".tar">
        <input type="submit" value="Upload">
    </form>
</body>
</html>